<!--=================================
      Inner Header -->
  <section class="inner-header bg-holder bg-light"  style="background-image: url('../../../assets/img/maxresdefault.jpg');">
    <div class="container">
      <div class="row align-items-center position-relative">
        <div class="col-md-6 text-center text-md-start mb-2 mb-md-0">
          <div class="section-title text-center"></div>
          <div class="section-title text-center"></div>
          <div class="section-title text-center"></div>
          <h1 class="breadcrumb-title mb-0 text-white"  style="margin-top: 45px;">Extended Support</h1>
        </div>
        <div class="col-md-6">
          <ol class="breadcrumb d-flex justify-content-center justify-content-md-end ms-auto">
            <!--
            <li class="breadcrumb-item"><a href="../../../index.html"><i class="fas fa-home me-1"></i>Home</a></li>
            <li class="breadcrumb-item active"><span>About Us</span></li>
            -->
          </ol>
        </div>
      </div>
    </div>
  </section>
  <!--=================================
      Inner Header -->

&nbsp;
      
  
<!--=================================
    Info Box -->
    <section class="space-pt text-white" style=" background-color:#da9100">
      <div class="container">
        <div class="row d-flex align-items-center">
          <div class="col-md-6 mb-4 mb-md-0">
            <div class="hwrap">
            <img class="himg" alt="" src="../../assets/zlaw/3.jpeg">
              <div class="hcap"><b>Extended Support!</b></div>
</div>
          </div>
          <div class="col-md-6 ps-3 ps-md-5">
            <h5 class="footer-title text-dark"><b>About Extended Support</b></h5>
             <h3 class="footer-title text-white"><b>What Is Extended Support ?</b></h3>
            
             <p></p>
             <p>Beyond the confines of legal proceedings, Zipporah Law Firm extends a caring hand to provide holistic support to our clients. Recognizing the emotional and practical challenges that often accompany legal matters, we offer a range of extended support services designed to address diverse needs. From providing access to counselling services for emotional well-being, facilitating medical assistance for healthcare needs, ensuring child security in sensitive situations, to offering career guidance for those undergoing transitions, our holistic approach aims to alleviate burdens and empower individuals to navigate life's challenges with resilience and confidence.</p>
          </div>
        </div>
      </div>
    </section>
<!--=================================
    Inner Header -->

&nbsp;

  <!--=================================
    Inner Header -->
      <section class="hello">
<section  class="space-ptb">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title text-center">
          <div>
            <h5 class="footer-title text-white" ><b>OUR SERVICE</b></h5>
          </div>
          <h2 class="feature-title my-0 text-white"><b>We Offer a Wide</b></h2>
          <h2 class="feature-title my-0 text-white"><b>Variety of Extended Support</b></h2>
        </div>
      </div>
    </div>
    </div>
      <div class="container ">
        <div class="row ">
          <div class="col-lg-4 text-center mb-4 mb-0">
      <div class="flip-card text-primary ">
        <div class="flip-card-inner ">
          <div class="flip-card-front ">
          <img src="../../../assets/zlaw/coun.jpeg" alt="Avatar" style="width:100%;height:100%;">
        </div>
          <div class="flip-card-back">
            <i class="feature-icon fas fa-users fa-3x" style=" padding: 50px 0;"></i>
            <h4 class="feature-title my-0 text-white">Counselling</h4>
            <p class="feature-title my-0 text-white">Our counselling services provide a confidential space for emotional support and guidance, helping you navigate life's challenges with resilience and clarity.</p>
          </div>
          <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide"><i class="fas fa-sync-alt text-white" style="position:absolute; left: 50px; top: 120px;"></i></div>
        </div>
      </div>
      </div>
      <div class="col-lg-4 text-center mb-4 mb-0">
      <div class="flip-card ">
        <div class="flip-card-inner ">
          <div class="flip-card-front ">
          <img src="../../../assets/zlaw/career.jpeg" alt="Avatar" style="width:100%;height:100%;">
        </div>
          <div class="flip-card-back">
            <i class="feature-icon fas fa-briefcase fa-3x" style=" padding: 50px 0;"></i>
            <h4 class="feature-title my-0 text-white">Career Guidance</h4>
            <p class="feature-title my-0 text-white">Our career guidance services offer tailored advice and resources to help you chart a path forward with confidence and purpose, even amidst legal complexities.
              </p>
          </div>
          <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide"><i class="fas fa-sync-alt text-white" style="position:absolute; left: 50px; top: 120px;"></i></div>
        </div>
      </div>
      </div>
      <div class="col-lg-4 text-center mb-4 mb-0">
      <div class="flip-card ">
        <div class="flip-card-inner ">
          <div class="flip-card-front ">
          <img src="../../../assets/zlaw/child.jpeg" alt="Avatar" style="width:100%;height:100%;">
        </div>
          <div class="flip-card-back">
            <i class="feature-icon fas fa-child fa-3x" style=" padding: 50px 0; "></i>
            <h4 class="feature-title my-0 text-white">Child Security</h4>
            <p class="feature-title my-0 text-white">We prioritize child security with dedicated measures, ensuring a safe and nurturing environment for the young ones impacted by legal proceedings.
               </p>
          </div>
          <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide"><i class="fas fa-sync-alt text-white" style="position:absolute; left: 50px; top: 120px;"></i></div>
        </div>
      </div>
      </div>
      <div class="section-title text-center"></div>
      <div class="col-lg-4 text-center mb-4 mb-0">
      <div class="flip-card ">
        <div class="flip-card-inner ">
          <div class="flip-card-front ">
          <img src="../../../assets/zlaw/medical.jpeg" alt="Avatar" style="width:100%;height:100%;">
        </div>
          <div class="flip-card-back">
            <i class="feature-icon fas fa-heartbeat fa-3x" style=" padding: 50px 0;"></i>
            <h4 class="feature-title my-0 text-white " >Medical Assistance</h4>
            <p class="feature-title my-0 text-white" >Access timely medical assistance through our network of trusted healthcare professionals, ensuring your well-being remains a top priority in your legal journey. </p>
          </div>
          <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide"><i class="fas fa-sync-alt text-white" style="position:absolute; left: 50px; top: 120px;"></i></div>
        </div>
      </div>
      </div>
      <div class="col-lg-4 text-center mb-4 mb-0">
        <div class="flip-card ">
        <div class="flip-card-inner ">
          <div class="flip-card-front ">
          <img src="../../../assets/zlaw/crisis.jpeg" alt="Avatar" style="width:100%;height:100%;">
        </div>
          <div class="flip-card-back">
            <i class="feature-icon fas fa-handshake fa-3x" style=" padding: 50px 0;"></i>
            <h4 class="feature-title my-0 text-white">Crisis Support</h4>
            <p class="feature-title my-0 text-white">Emotional support and guidance during times of crisis or personal difficulty, including referrals to counseling services if needed.</p>
          </div>
          <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide"><i class="fas fa-sync-alt text-white" style="position:absolute; left: 50px; top: 120px;"></i></div>
        </div>
      </div>
      </div>
      <div class="col-lg-4 text-center mb-4 mb-0">
      <div class="flip-card ">
        <div class="flip-card-inner ">
          <div class="flip-card-front ">
          <img src="../../../assets/zlaw/community.jpeg" alt="Avatar" style="width:100%;height:100%;">
        </div>
          <div class="flip-card-back">
            <i class="feature-icon fa fa-seedling fa-3x" style=" padding: 50px 0;"></i>
            <h4 class="feature-title my-0 text-white">Community Resources</h4>
            <p class="feature-title my-0 text-white"> Referrals to community organizations and resources for assistance with housing, food insecurity, legal aid, and other social services.
               </p>
          </div>
          <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide"><i class="fas fa-sync-alt text-white" style="position:absolute; left: 50px; top: 120px;"></i></div>
        </div>
      </div>
      </div>
</div>
    </div>
</section>
</section>
     
     <!--=================================
      footer-->
      <footer class="footer footer-dark space-ptb " style="background-color: black;">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-lg-3 mb-4 mb-lg-0">
              <div class="footer-contact-info">
                <div class="footer-logo mb-2">
                  <a ><img class="img-fluid" src="../../../assets/zlaw/zlaw1.png" alt="" style="height: 150px; width: 100%;" ></a>
                </div>
                &nbsp;
                <div class="contact-address">
                  <div class="contact-item mb-3 mb-md-4">
                    <a>2HHW+755, 9th Cross Rd, HMT Layout, Dinnur, RT Nagar, Bengaluru, Karnataka 560032</a>
                  </div>
                  <div class="contact-item mb-3 mb-md-4">
                    <h4 class="mb-0 fw-normal"><a href="https://wa.me/7975930470" class="text-primary">+91 7975930470</a></h4>
                  </div>
                  <div class="contact-item">
                    <a >support@zipporahlawfirm.com</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-xl-3 col-lg-4 mb-4 mb-lg-0" >
              <h5 class="footer-title " style="color: #da9100;">Legal Support</h5>
              <div class="footer-link">
                <ul class="list-unstyled mb-0">
                  <li><a >Legal Assistance</a></li>
                  <li><a >Criminal Defense</a></li>
                  <li><a>Courtroom Advocacy</a></li>
                  <li><a>Case Management</a></li>
                  <li><a >Civil Rights Violations</a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-6 col-xl-3 col-lg-2 mb-4 mb-sm-0">
              <h5 class="footer-title " style="color: #da9100;">Extended Support</h5>
              <div class="footer-link">
                <ul class="list-unstyled mb-0">
                  <li><a >Counselling</a></li>
                  <li><a >Career Guidance</a></li>
                  <li><a >Child Security</a></li>
                  <li><a >Medical Assistance</a></li>
                  <li><a >Crisis Support</a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-6 col-xl-3 col-lg-2 mb-4 mb-sm-0">
              <h5 class="footer-title" style="color: #da9100;">Company</h5>
              <div class="footer-link">
                <ul class="list-unstyled mb-0">
                  <li><a>About Company</a></li>
                  <li><a>For Customers</a></li>
                  <li><a>Blog & News</a></li>
                  <li><a>Careers & Reviews</a></li>
                  <li><a>Sitemap</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-bottom pt-5 pb-0 " style="background-color: black;">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <div class="social-icon text-md-start text-center mb-3 mb-md-0">
                  <ul>
                      <li><a href="#"><i class="fab fa-google"></i></a></li>
                    <li><a href="https://www.instagram.com/pisgahsolution/"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="https://www.facebook.com/profile.php?id=61555178352742"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="https://twitter.com/PisgahSolutions"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/pisgah-solutions-9841ba2a4"><i class="fab fa-linkedin-in"></i></a></li>
                    &nbsp;
                  </ul>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="section-title text-center">
                    <p class="mb-0 small">© Copyright 2023 <a href="#">Zipporah Law Firm</a> All Rights Reserved.</p>                   
                  </div>
              </div>             
            </div>          
          </div>   
          <div class="footers ">
              <p class="foot text-white"> Designed and Developed By |   K.Bhuvana Chandra &nbsp; <a href="https://www.linkedin.com/in/bhuvan-kandregula-347657275/"><i class="fab fa-linkedin-in "></i></a> &nbsp;
                <a href="https://github.com/Bhuvan2508"><i class="fab fa-github text-dark "></i></a>  
                 </p>
          </div>
        </div>
      </footer>
      <!--=================================
          footer-->
      <!--=================================
          Back To Top -->
      <div class="back-to-top" >
        <a href="https://wa.me/7975930470"><i class="fab fa-whatsapp" ></i></a>
      </div>
      <!--=================================
          Back To Top -->