




<!--=================================
    Info Box -->
    <section class="space-pt text-white" style=" background-color:black">
      <div class="container">
        <div class="row d-flex align-items-center">
          <div class="col-md-6 mb-4 mb-md-0">
            <div class="hwrap">
            <img class="himg" alt="" src="../../../assets/images/bg/5-2-software-development-free-download-png.png">
              <div class="hcap">AARRGGGHHH!</div>
</div>
          </div>
          <div class="col-md-6 ps-3 ps-md-5">
            <h6 class="footer-title text-primary"><b> TECHNOLOGY INDEX</b></h6>
            <h3 class="footer-title text-white" ><b>We Organize Our</b>
             </h3>
             <h3 class="footer-title text-white"><b>Software development</b></h3>
             <a  class="btn btn-primary">ANALYSIS</a>    
             <a  class="btn btn-primary">DESIGN</a>
             <a  class="btn btn-primary">DEVELOP</a>
             <p></p>
             <p>Software development services is your possibility to outsource software engineering and support, and get maintainable, secure and impactful software at the best price. To date, ScienceSoft has fulfilled 3,300+ projects and offers vast experience in different programming techs and software types.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="space-pt space-pt ">
    </section>
<!--=================================
    Inner Header -->



<section class="space-ptb">
<div class="hwrap">
  <img class="himg" src="../../../assets/Pisgah/3D file (002).jpg">
  <div class="hcap">AARRGGGHHH!</div>
</div></section>







<div class="container">
  <img src="../../../assets/zlaw/1.jpeg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">Hello World</div>
  </div>
</div>
 


