 <!--=================================
      Inner Header -->
  <section class="inner-header bg-holder bg-light"  style="background-image: url('../../../assets/img/maxresdefault.jpg');">
    <div class="container">
      <div class="row align-items-center position-relative">
        <div class="col-md-6 text-center text-md-start mb-2 mb-md-0">
          <div class="section-title text-center"></div>
          <div class="section-title text-center"></div>
          <div class="section-title text-center"></div>
          <h1 class="breadcrumb-title mb-0 text-white"  style="margin-top: 45px; " >Legal Support</h1>
        </div>
        <div class="col-md-6">
          <ol class="breadcrumb d-flex justify-content-center justify-content-md-end ms-auto">
            <!--
            <li class="breadcrumb-item"><a href="../../../index.html"><i class="fas fa-home me-1"></i>Home</a></li>
            <li class="breadcrumb-item active"><span>About Us</span></li>
            -->
          </ol>
        </div>
      </div>
    </div>
  </section>


&nbsp;

  
<!--=================================
    Info Box -->
    <section class="space-pt text-white" style=" background-color:#da9100;
">
      <div class="container">
        <div class="row d-flex align-items-center">
          <div class="col-md-6 mb-4 mb-md-0">
            <div class="hwrap">
            <img class="himg" alt="" src="../../assets/zlaw/2.jpeg">
              <div class="hcap"><b>Legal Support!</b></div>
</div>
          </div>
          <div class="col-md-6 ps-3 ps-md-5">
            <h5 class="footer-title text-dark"><b>About Legal Support</b></h5>
             <h3 class="footer-title text-white"><b>What Is Legal Support ?</b></h3>
            
             <p></p>
             <p>In the realm of legal support, Zipporah Law Firm stands as a pillar of expertise and advocacy. With a team of seasoned attorneys specializing in various fields of law, we provide comprehensive assistance tailored to the unique needs of each client. From initial consultation to courtroom representation, we offer strategic guidance, meticulous preparation, and tenacious advocacy to secure favorable outcomes. Whether it's navigating complex legal procedures, negotiating settlements, or litigating in court, our commitment to excellence ensures that our clients receive the highest standard of legal support at every stage of their case.</p>
          </div>
        </div>
      </div>
    </section>
<!--=================================
    Inner Header -->
&nbsp;
  <!--=================================
      Inner Header -->
      <section class="hello">
<section  class="space-ptb">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title text-center">
          <div>
            <h5 class="footer-title text-white" ><b>OUR SERVICE</b></h5>
          </div>
          <h2 class="feature-title my-0 text-white"><b>We Offer a Wide</b></h2>
          <h2 class="feature-title my-0 text-white"><b>Variety of Legal Support</b></h2>
        </div>
      </div>
    </div>
    </div>





      <div class="container ">
        <div class="row ">
          <div class="col-lg-4 text-center mb-4 mb-0">
      <div class="flip-card text-primary ">
        <div class="flip-card-inner ">
          <div class="flip-card-front ">
          <img src="../../../assets/zlaw/criminal.jpeg" alt="Avatar" style="width:100%;height:100%;">
        </div>
          <div class="flip-card-back">
       
            <i class="feature-icon fas fa-handshake fa-3x" style=" padding: 50px 0;"></i>
            <h4 class="feature-title my-0 text-white">Criminal Defense</h4>
            <p class="feature-title my-0 text-white"> Defense representation for individuals facing criminal charges brought by law enforcement, including DUI/DWI charges, drug offenses, assault charges, and more.
               </p>
          </div>
          <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide"><i class="fas fa-sync-alt text-white" style="position:absolute; left: 50px; top: 120px;"></i></div>
        </div>
      </div>
      </div>
      <div class="col-lg-4 text-center mb-4 mb-0">
      <div class="flip-card ">
        <div class="flip-card-inner ">
          <div class="flip-card-front ">
          <img src="../../../assets/zlaw/courtroom.jpeg" alt="Avatar" style="width:100%;height:100%;">
        </div>
          <div class="flip-card-back">
            <i class="feature-icon fas fa-university fa-3x" style=" padding: 50px 0;"></i>
            <h4 class="feature-title my-0 text-white">Courtroom Advocacy</h4>
            <p class="feature-title my-0 text-white"> Advocacy and representation in court hearings, motions, and trials before judges, magistrates, or juries.
              </p>
          </div>
          <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide"><i class="fas fa-sync-alt text-white" style="position:absolute; left: 50px; top: 120px;"></i></div>
        </div>
      </div>
      </div>
      <div class="col-lg-4 text-center mb-4 mb-0">
      <div class="flip-card ">
        <div class="flip-card-inner ">
          <div class="flip-card-front ">
          <img src="../../../assets/zlaw/legal.jpeg" alt="Avatar" style="width:100%;height:100%;">
        </div>
          <div class="flip-card-back">
            <i class="feature-icon fas fa-gavel fa-3x" style=" padding: 50px 0; "></i>
            <h4 class="feature-title my-0 text-white">Legal Assistance</h4>
            <p class="feature-title my-0 text-white">Consultations with experienced attorneys to discuss legal issues, rights, and options.
               </p>
          </div>
          <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide"><i class="fas fa-sync-alt text-white" style="position:absolute; left: 50px; top: 120px;"></i></div>
        </div>
      </div>
      </div>
      <div class="section-title text-center"></div>
      <div class="col-lg-4 text-center mb-4 mb-0">
      <div class="flip-card ">
        <div class="flip-card-inner ">
          <div class="flip-card-front ">
          <img src="../../../assets/zlaw/case.jpeg" alt="Avatar" style="width:100%;height:100%;">
        </div>
          <div class="flip-card-back">
            <i class="feature-icon fas fa-book-reader fa-3x" style=" padding: 50px 0;"></i>
            <h4 class="feature-title my-0 text-white " >Case Management</h4>
            <p class="feature-title my-0 text-white" >Management of case schedules, deadlines, and procedural requirements to ensure compliance with court rules and orders. </p>
          </div>
          <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide"><i class="fas fa-sync-alt text-white" style="position:absolute; left: 50px; top: 120px;"></i></div>
        </div>
      </div>
      </div>
      <div class="col-lg-4 text-center mb-4 mb-0">
        <div class="flip-card ">
        <div class="flip-card-inner ">
          <div class="flip-card-front ">
          <img src="../../../assets/zlaw/civil.jpeg" alt="Avatar" style="width:100%;height:100%;">
        </div>
          <div class="flip-card-back">
            <i class="feature-icon fas fa-balance-scale fa-3x" style=" padding: 50px 0;"></i>
            <h4 class="feature-title my-0 text-white">Civil Rights Violations</h4>
            <p class="feature-title my-0 text-white">Advocacy for individuals whose civil rights have been violated by law enforcement, including cases involving racial profiling, discrimination, or unlawful surveillance. </p>
          </div>
          <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide"><i class="fas fa-sync-alt text-white" style="position:absolute; left: 50px; top: 120px;"></i></div>
        </div>
      </div>
      </div>
      <div class="col-lg-4 text-center mb-4 mb-0">
      <div class="flip-card ">
        <div class="flip-card-inner ">
          <div class="flip-card-front ">
          <img src="../../../assets/zlaw/victim.jpeg" alt="Avatar" style="width:100%;height:100%;">
        </div>
          <div class="flip-card-back">
            <i class="feature-icon fa fa-user-tie fa-3x" style=" padding: 50px 0;"></i>
            <h4 class="feature-title my-0 text-white">Victim Advocacy</h4>
            <p class="feature-title my-0 text-white"> Advocacy and support for victims of crime, including assistance with navigating the criminal justice system, filing police reports, and seeking compensation through victim compensation programs.
               </p>
          </div>
          <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide"><i class="fas fa-sync-alt text-white" style="position:absolute; left: 50px; top: 120px;"></i></div>
        </div>
      </div>
      </div>
</div>
    </div>

    
</section>
</section>

     <!--=================================
      footer-->
      <footer class="footer footer-dark space-ptb " style="background-color: black;">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-lg-3 mb-4 mb-lg-0">
              <div class="footer-contact-info">
                <div class="footer-logo mb-2">
                  <a ><img class="img-fluid" src="../../../assets/zlaw/zlaw1.png" alt=""  ></a>
                </div>
                &nbsp;
                <div class="contact-address">
                  <div class="contact-item mb-3 mb-md-4">
                    <p style="color: white;">2HHW+755, 9th Cross Rd, HMT Layout, Dinnur, RT Nagar, Bengaluru, Karnataka 560032</p>
                  </div>
                  <div class="contact-item mb-3 mb-md-4">
                    <h4 class="mb-0 fw-normal" ><a href="https://wa.me/7975930470" class="text-primary">+91 7975930470</a></h4>
                  </div>
                  <div class="contact-item">
                    <p style="color: white;">support@zipporahlawfirm.com</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-xl-3 col-lg-4 mb-4 mb-lg-0" >
              <h5 class="footer-title " style="color: #da9100;">Legal Support</h5>
              <div class="footer-link">
                <ul class="list-unstyled mb-0">
                  <li><p style="color: white;" >Legal Assistance</p></li>
                  <li><p style="color: white;"  >Criminal Defense</p></li>
                  <li><p style="color: white;" >Courtroom Advocacy</p></li>
                  <li><p style="color: white;" >Case Management</p></li>
                  <li><p style="color: white;"  >Civil Rights Violations</p></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-6 col-xl-3 col-lg-2 mb-4 mb-sm-0">
              <h5 class="footer-title " style="color: #da9100;">Extended Support</h5>
              <div class="footer-link">
                <ul class="list-unstyled mb-0">
                  <li><p style="color: white;"  >Counselling</p></li>
                  <li><p style="color: white;"  >Career Guidance</p></li>
                  <li><p style="color: white;"  >Child Security</p></li>
                  <li><p style="color: white;"  >Medical Assistance</p></li>
                  <li><p style="color: white;"  >Crisis Support</p></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-6 col-xl-3 col-lg-2 mb-4 mb-sm-0">
              <h5 class="footer-title" style="color: #da9100;">Company</h5>
              <div class="footer-link">
                <ul class="list-unstyled mb-0">
                  <li><p style="color: white;" >About Company</p></li>
                  <li><p style="color: white;" >For Customers</p></li>
                  <li><p style="color: white;" >Blog & News</p></li>
                  <li><p style="color: white;" >Careers & Reviews</p></li>
                  <li><p style="color: white;" >Sitemap</p></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-bottom pt-5 pb-0 " style="background-color: black;">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <div class="social-icon text-md-start text-center mb-3 mb-md-0">
                  <ul>
                      <li><a href="#"><i class="fab fa-google"></i></a></li>
              <li><a href="https://www.linkedin.com/in/zipporah-law-firm-8153672a5"><i class="fab fa-linkedin-in"></i></a></li>

                    &nbsp;
                  </ul>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="section-title text-center">
                    <p class="mb-0 small" style="color: white;">© Copyright 2023 <a href="#">Zipporah Law Firm</a> All Rights Reserved.</p>                   
                  </div>
              </div>             
            </div>          
          </div>   
          <div class="footers ">
              <p class="foot text-white"> Designed and Developed By |   K.Bhuvana Chandra &nbsp; <a href="https://www.linkedin.com/in/bhuvan-kandregula-347657275/"><i class="fab fa-linkedin-in "></i></a> &nbsp;
                <a href="https://github.com/Bhuvan2508"><i class="fab fa-github text-dark "></i></a>  &nbsp; From Pisgah Solutions &nbsp;<a href="https://pisgahsolutions.in"><i class="fab fa-google"></i></a>
                 </p>
          </div>
        </div>
      </footer>
      <!--=================================
          footer-->
      <!--=================================
          Back To Top -->
      <div class="back-to-top" >
        <a href="https://wa.me/7975930470"><i class="fab fa-whatsapp" ></i></a>
      </div>
      <!--=================================
          Back To Top -->