

.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #00FFFF 50%,
    #ff1361 67%,
    #fff800 100%



  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 30px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
.navbar{
  float: center;
}




/*#slider {
	overflow: hidden;
}

@keyframes slider {
	0% { left: 0; }
	30% { left: 0; }
	33% { left: -100%; }
	63% { left: -100%; }
	66% { left: -200%; }
	95% { left: -200%; }
	100% { left: 0; }
}

#slider figure {
	width:300%;
	position: relative;
	animation: 12s slider infinite;
}

#slider figure:hover {
	/*animation-play-state: paused; enable for pause on hover
}

#slider figure img {
	width: 33.333333333%;
	height : 1000px;
	float: left;
}
*/


 

.foot{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#8A2BE2;
    color: white;
    text-align: center;
  }
  




@import url(https://fonts.googleapis.com/css?family=Istok+Web);
@keyframes slidy {
	0% { left: 0; }
	30% { left: 0; }
	33% { left: -100%; }
	63% { left: -100%; }
	66% { left: -200%; }
	95% { left: -200%; }
	100% { left: 0; }
}
* {
  box-sizing: border-box;
}
body, figure { 
  margin: 0; background: #101010;
  font-family: Istok Web, sans-serif;
  font-weight: 100;
}
div#captioned-gallery { 
  width: 100%; overflow: hidden; 
}
figure.slider { 
  position: relative; width: 500%;
  font-size: 0; animation: 12s slidy infinite; 
}
figure.slider figure { 
  width: 20%; height: auto;
  display: inline-block;  position: inherit; 
}
figure.slider img { width: 100%; height: auto; }
figure.slider figure figcaption { 
  position: absolute; bottom: 0;
  background: rgba(0,0,0,0.4);
  color: #fff; width: 100%;
  font-size: 2rem; padding: .6rem; 
}



/* Default styles */
.slider {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch; /* For smooth scrolling on iOS */
}

.slider figure {
  scroll-snap-align: start;
  flex-shrink: 0;
  margin: 0;
}

.slider img {
  width: 100%;
  height: auto;
}

/* Media query for mobile screens */
@media screen and (max-width: 768px) {
  /* Adjust the layout for mobile screens */
  #captioned-gallery {
    margin-top: 60px; /* Adjust this value according to the height of your navigation bar */
  }
}