<base href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/">
<div id="captioned-gallery" >
  <figure class="slider" >
    <figure>
      <img src="../../../assets/zlaw/7.jpeg" alt>
    </figure>
    <figure>
      <img src="../../../assets/zlaw/2.jpeg" alt >
    </figure>
    <figure>
      <img src="../../../assets/zlaw/1.jpeg" alt >
    </figure>
  </figure>
</div>
<section class="space-pt">
      <div class="container">
        <div class="row d-flex align-items-center">
          <div class="col-md-6 mb-4 mb-md-0">
            <img class="img-fluid" alt="" src="../../../assets/zlaw/4.jpeg">
          </div>
          <div class="col-md-6 ps-3 ps-md-5">
            <h3 class="footer-title text-primary" ><b>About-Us</b>
             </h3>
             <p></p>
             <p><b>Zipporah law firm is an organization that specializes in providing legal advice and representation to individuals, businesses, and governments. This firm is typically made up of a group of lawyers who work together to meet the legal needs of their clients.
One of the key functions of this law firm is to provide legal advice to clients. This involves analyzing the client's situation, researching relevant laws and regulations, and providing guidance on the best course of action. Here the lawyers are specialized in various fields of law, such as corporate law, criminal law, intellectual property law, family law, or tax law, among others.
 This specialization allows them to develop expertise in their respective areas and provide comprehensive advice to their clients.</b></p>
          </div>
       </div>
       </div>
    </section>
&nbsp;
<!--=================================
    Info Box -->
<section class="space-ptb space-ptb bg-dark">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
            <h6 class="footer-title text-primary"><b>OUR SERVICE</b></h6>
            <h2 class="footer-title text-primary">We Offer a Wide</h2>
            <h2 class="footer-title text-primary">Variety of Legal And Extended Support</h2>
          </div>
      <div class="col-lg-2">
        <div>
        </div>
      </div>
      <div class="col-md-4 text-center mb-4 mb-md-0">
        <div class="feature-info-04">
          <i class="feature-icon fas fa-balance-scale fa-3x"></i>
          <h4 class="feature-title my-3">Legal Support</h4>
          <p>At Zipporah Law Firm, our legal support services are designed to provide expert guidance and representation to our clients. From the boardroom to the courtroom, we stand as guardians for our clients.</p>
        </div>
      </div>
      <div class="col-md-4 text-center mb-4 mb-md-0">
        <div class="feature-info-04 ">
          <i class="feature-icon fas fa-hand-holding-heart fa-3x"></i>
          <h4 class="feature-title my-3">Extended Support</h4>
          &nbsp;
          <p>we extend our hand beyond the courtroom, offering a sanctuary of support. From administrative guidance to heartfelt encouragement, we're more than just legal minds</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--=================================
    Info Box -->  
    
   
    &nbsp;
    
     <!--=================================
      footer-->
      <footer class="footer footer-dark space-ptb " style="background-color: black;">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-lg-3 mb-4 mb-lg-0">
              <div class="footer-contact-info">
                <div class="footer-logo mb-2">
                  <a ><img class="img-fluid" src="../../../assets/zlaw/zlaw1.png" alt="" style="height: 150px; width: 100%;" ></a>
                </div>
                &nbsp;
                <div class="contact-address">
                  <div class="contact-item mb-3 mb-md-4">
                    <a>2HHW+755, 9th Cross Rd, HMT Layout, Dinnur, RT Nagar, Bengaluru, Karnataka 560032</a>
                  </div>
                  <div class="contact-item mb-3 mb-md-4">
                    <h4 class="mb-0 fw-normal"><a href="https://wa.me/7975930470" class="text-primary">+91 7975930470</a></h4>
                  </div>
                  <div class="contact-item">
                    <a >support@zipporahlawfirm.com</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-xl-3 col-lg-4 mb-4 mb-lg-0" >
              <h5 class="footer-title " style="color: #da9100;">Legal Support</h5>
              <div class="footer-link">
                <ul class="list-unstyled mb-0">
                  <li><a >Legal Assistance</a></li>
                  <li><a >Criminal Defense</a></li>
                  <li><a>Courtroom Advocacy</a></li>
                  <li><a>Case Management</a></li>
                  <li><a >Civil Rights Violations</a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-6 col-xl-3 col-lg-2 mb-4 mb-sm-0">
              <h5 class="footer-title " style="color: #da9100;">Extended Support</h5>
              <div class="footer-link">
                <ul class="list-unstyled mb-0">
                  <li><a >Counselling</a></li>
                  <li><a >Career Guidance</a></li>
                  <li><a >Child Security</a></li>
                  <li><a >Medical Assistance</a></li>
                  <li><a >Crisis Support</a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-6 col-xl-3 col-lg-2 mb-4 mb-sm-0">
              <h5 class="footer-title" style="color: #da9100;">Company</h5>
              <div class="footer-link">
                <ul class="list-unstyled mb-0">
                  <li><a>About Company</a></li>
                  <li><a>For Customers</a></li>
                  <li><a>Blog & News</a></li>
                  <li><a>Careers & Reviews</a></li>
                  <li><a>Sitemap</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-bottom pt-5 pb-0 " style="background-color: black;">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <div class="social-icon text-md-start text-center mb-3 mb-md-0">
                  <ul>
                      <li><a href="#"><i class="fab fa-google"></i></a></li>
                    <li><a href="https://www.instagram.com/pisgahsolution/"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="https://www.facebook.com/profile.php?id=61555178352742"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="https://twitter.com/PisgahSolutions"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/pisgah-solutions-9841ba2a4"><i class="fab fa-linkedin-in"></i></a></li>
                    &nbsp;
                  </ul>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="section-title text-center">
                    <p class="mb-0 small">© Copyright 2023 <a href="#">Zipporah Law Firm</a> All Rights Reserved.</p>                   
                  </div>
              </div>             
            </div>          
          </div>   
          <div class="footers ">
              <p class="foot text-white"> Designed and Developed By |   K.Bhuvana Chandra &nbsp; <a href="https://www.linkedin.com/in/bhuvan-kandregula-347657275/"><i class="fab fa-linkedin-in "></i></a> &nbsp;
                <a href="https://github.com/Bhuvan2508"><i class="fab fa-github text-dark "></i></a>  
                 </p>
          </div>
        </div>
      </footer>
      <!--=================================
          footer-->
      <!--=================================
          Back To Top -->
      <div class="back-to-top" >
        <a href="https://wa.me/7975930470"><i class="fab fa-whatsapp" ></i></a>
      </div>
      <!--=================================
          Back To Top -->