/* Default styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-toggler {
  display: none; /* Hide toggler by default */
}

.navbar-collapse {
  display: flex;
  justify-content: flex-center;
}

.navbar-nav {
  display: flex;
  list-style: none;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
}

/* Media query for screens smaller than 768px (tablet and below) */
@media (max-width: 998px) {
  .navbar-toggler {
    display: block; /* Show toggler */
  }

  .navbar-collapse {
    display: none; /* Hide collapsed menu by default */
    flex-direction: column;
    position: absolute;
    top: 100%; /* Position below the navbar */
    left: 0;
    background-color: #ffffff; /* Background color */
    width: 100%; /* Take full width */
    padding: 10px 0;
  }

  .navbar-nav {
    flex-direction: column;
    align-items: center;
  }

  .nav-link {
    padding: 10px 0;
    border-bottom: 1px solid #fff; /* Add border between links */
  }

  .nav-link:last-child {
    border-bottom: none; /* Remove border for last link */
  }

  .show {
    display: flex; /* Show collapsed menu when toggler is clicked */
  }
}
  .header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999; /* Adjust z-index as needed */
}

 


